<TMPL_INCLUDE NAME="header.tmpl">
<h2><MT_TRANS phrase="The Movable Type Plugin Mindmap"> <MT_TRANS phrase="version"> <TMPL_VAR NAME=VERSION></h2>
	<div class="message"><TMPL_VAR NAME=BLOG_NAME> </div>

	<img src="/ctg_mindmap.png"/>
	<p>
	<input value=" Rebuild " type="button"
		onclick="window.location = '<TMPL_VAR NAME=SCRIPT_URL>;__mode=rebuild'"/>
	
	<input value="&laquo; Return" onclick="window.location = '<TMPL_VAR NAME=MT_URL>?__mode=list_plugins'" type="button" />
	</p>

	<TMPL_VAR NAME=ctgs_dump>

<TMPL_INCLUDE NAME="footer.tmpl">