<TMPL_INCLUDE NAME="header.tmpl">
<h2><MT_TRANS phrase="The Movable Type Plugin Mindmap"> <MT_TRANS phrase="version"> <TMPL_VAR NAME=VERSION></h2>
	<div class="message"><TMPL_VAR NAME=TEXT> <MT_TRANS phrase="blog"> <TMPL_VAR NAME=BLOG_ID> </div>
	
	<TMPL_LOOP NAME=ctgs>
		<TMPL_VAR NAME=id> <TMPL_VAR NAME=label><br/>
	</TMPL_LOOP>

	<img src="/ctg_mindmap.png"/>
	<p>
	<input value=" Rebuild " type="button" />
	<input value="&laquo; Return" onclick="window.location = '<TMPL_VAR NAME=MT_URL>?__mode=list_plugins'" type="button" />
	</p>

<TMPL_INCLUDE NAME="footer.tmpl">